<html ng-app="NoteWrangler">
    <head>
        <title>Note Wrangler</title>
        <link rel="stylesheet" href="assets/styles/bootstrap.css">
        <link rel="stylesheet" href="assets/styles/bootstrap-theme.css">
    </head>
    <body>
        <h1>Hello world</h1>
    </body>
    <!--        Vendor-->
    <script src="assets/javascript/vendor/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="assets/javascript/vendor/angular.js" type="text/javascript"></script>
    <script src="assets/javascript/vendor/angular-route.js" type="text/javascript"></script>
    <script src="assets/javascript/vendor/angular-resource.js" type="text/javascript"></script>

    <!--    APP-->
    <script src="assets/javascript/app.js" type="text/javascript"></script>
    <script src="assets/javascript/routes.js" type="text/javascript"></script>
    <!--    Directives-->
    <!--    Controllers-->
    <!--    Services-->
</html>
